@model BitsAndBobs.WebApp.Models.LocationOrderViewModel

@{
    ViewData["Title"] = "Place Order";
}

<h2>Place New Order</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Order">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantity1" class="control-label"></label>
                <input asp-for="Quantity1" class="form-control" />
                <span asp-validation-for="Quantity1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity2" class="control-label"></label>
                <input asp-for="Quantity2" class="form-control" />
                <span asp-validation-for="Quantity2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity3" class="control-label"></label>
                <input asp-for="Quantity3" class="form-control" />
                <span asp-validation-for="Quantity3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Place Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Index</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
