@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bits and Bobs!</h1>
    <p>Please use the links along the top to navigate to your desired page..</p>
    
</div>
<div>
    <ul>
        <li><b>Home:</b> Brings you to this page, describing each page's responsibilities.</li>
        <li><b>Customers:</b> Create a new customer profile, or search existing customers.</li>
        <li><b>Locations:</b> View details about each location, or place an order at a location.</li>
        <li><b>Search:</b> View all past orders, and search by customer name or location.</li>
    </ul>
</div>
